<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/static/css/index.css">
        <title>paper translater using DeepL</title>
    </head>
    <body>
    <h1>翻訳したい文章を入力してください</h1>
    <h2>(<a href="https://www.deepl.com/translator">DeepLサイト</a>, <a href="https://translate.google.co.jp/">Googleサイト</a>にリダイレクトします)</h2>
    <form method="POST">
        <textarea name="text"></textarea>
        <input type="submit" value="DeepL翻訳" name="medium">
        <input type="submit" value="Google翻訳" name="medium">
    </form>
    </body>
</html>